[user]
    name = aphamm
    email = austinpham77@gmail.com

[init]
    defaultBranch = main

[pull]
    rebase = true

[alias]
    co = checkout
    br = branch
    st = status
    lg = log --oneline --graph --decorate
