# ~/.starship.toml

add_newline = false

format = """
$directory\
$git_branch\
$git_status\
$python\
$cmd_duration\
$character"""

[directory]
truncation_length = 4
truncate_to_repo = true

[git_branch]
format = "[$symbol$branch]($style) "
symbol = ""

[git_status]
format = '([$all_status$ahead_behind]($style) )'
style = "bold yellow"

[python]
format = '[(\($virtualenv\))]($style) '
style = "cyan"

[cmd_duration]
min_time = 2000
format = "[$duration]($style) "
style = "yellow"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
