/*  Removes the border highlight around the active tab while using split view  */
#tabbrowser-tabpanels[zen-split-view="true"]
  .browserSidebarContainer.deck-selected {
  outline: var(--zen-colors-border) !important;
}

/* Hide status bar */
#statuspanel {
  display: none !important;
}

/* Find Bar */
findbar {
  transition: top 0.35s ease, bottom 0.35s ease !important;
  visibility: visible !important;
  opacity: 1 !important;

  position: absolute !important;
  display: flex !important;
  margin: 0px !important;

  top: 10px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;

  width: 50% !important;
  border-radius: var(--zen-border-radius) !important;

  background: color-mix(
    in hsl,
    var(--zen-colors-tertiary),
    transparent 20%
  ) !important;
  border: transparent !important;

  .findbar-textbox {
    padding: 0.25em 1em !important;
    border: transparent !important;
  }

  &[hidden="true"] {
    scale: 0 !important;
    opacity: 0 !important;
  }
}
